@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

:root {
  --cinza: #7e7e7e;
}

* {
  font-family: 'Inter', sans-serif !important;
}

body {
  overflow-x: hidden;
}

html, body {
  scroll-behavior: auto !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-black {
  font-weight: 900;
}

.border-grey {
  border: 1px solid var(--cinza);
}

.text-grey {
  color: var(--cinza);
}

.card {
  border-radius: 0px;
}



.product-card {
  border: 1px solid var(--cinza);
}

.button-vermais, .button-enviar, .button-1 {
  background-color: var(--cinza);
  border: solid 1px var(--cinza);
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
}


.button-vermais:hover, .button-enviar:hover, .button-1:hover {
  background-color: #fff;
  color: var(--cinza);
  border: solid 1px var(--cinza);
  /* box-shadow: 0px 6px 7px 0px; */
  letter-spacing: 1px;
}

.button-vermais:active, .button-enviar:active, .button-1:active {
  background-color: #111111 !important; 
  border-color: #111111 !important;
  opacity: 0.85;
}

.button-2 {
  background-color: #fff;
  border: solid 1px var(--cinza);
  color: var(--cinza);
  transition: 0.5s;
  text-decoration: none;
}

.button-2:hover {
  background-color: var(--cinza);
  color: #fff;
}

.button-2:focus {
  background-color: var(--cinza);
  color: #fff;
  
}

.contact-page button[type="submit"]:disabled {
    background-color: #212529 !important;
    border-color: #212529 !important;
    color: #ffffff !important;
    opacity: 0.7;
    cursor: not-allowed;
}